
.page-myaccount {
	.GP-menu {
		.play-menu {
			> li:first-child {
				a {
					background-color: #757575;
					span { color: #fff; }
				}
			}
		}
	}



	.account-form-block {
		display: flex;
		.page-block{
			width: 47%;
			&:last-child {
				margin-left: auto;
			}
		}
	}//account-form-block
}//page-myaccount