

.page-auth { 
  h1, p {
  	margin-bottom: 30px;
  }

  input[type="password"],
  input[type="email"] {
  	height: 45px;
  }
  button[type="submit"] {
  	margin-bottom: 30px;
  }
  #remember {
  	top: 0;
  }
  .block-forgot-pass {
  	position: absolute;
    top: 0;
    right: 0;
  }
  .fine-print { 
    font-size: 13px;
  }
  .checkbox {
  	margin-bottom: 40px;
  }
}//page-auth

// .terms-policy{
//   margin: 0 0 5px 0;
//   p{
//     font-size: 12px;
//     font-weight: 400;
//     color: #616161;
//     line-height: 14px;
//   }
//   span{
//     font-size: 12px;
//     font-weight: 400;
//     color: #616161;
//     line-height: 14px;
//   }
//   a{
//     font-size: 12px;
//     font-weight: 400;
//     line-height: 14px;
//   }
// }