

.page-auth {
	margin: 100px auto;
  max-width: 500px;
  padding: 0 20px;

  h1, p {
  	margin-bottom: 15px;
  }

  input[type="password"],
  input[type="email"] {
  	height: 45px;
  }
  #remember {
  	top: 0;
  }
  .block-forgot-pass {
  	position: absolute;
    top: 0;
    right: 0;
  }
  .checkbox {
  	margin-bottom: 40px;
  }
}//page-auth