

.page-auth {
	margin: 100px auto;
  max-width: 500px; 
  padding: 40px 20px; 

  h1, p {
  	margin-bottom: 30px;
  }

  input[type="password"],
  input[type="email"] {
  	height: 45px;
  }
  button[type="submit"] {
  	margin-bottom: 30px;
  }
  #remember {
  	top: 0;
  }
  .block-forgot-pass {
  	position: absolute;
    top: 0;
    right: 0;
  }
  .checkbox {
  	margin-bottom: 40px;
  }
}//page-auth