
.page-categories{
	.video-item {
		margin-bottom: 30px;
	}
}



//Activate main menu items on specific pages
//------------------------------------------
.page-movies {
	.GP-menu { 
		.play-menu li.movies .menu-entry-text {
		  background: $color-darkred;
		}
	}
}
.page-animations {
	border: 5px solid red!important;
	.GP-menu { 
		border: 5px solid blue!important;
		.play-menu li.animations {
			border: 5px solid green!important;
			.menu-entry-text {
				background: $color-yellow-green;
			}
		  
		}
	}
}