.page-landing { 
	background: #333;

	.section {
		$size: 90px;
		position: relative;
		padding-top: $size;
		padding-bottom: $size; 
	}

	.title {
		color: #ccc;
	}
 
	p {
		line-height: 24px;
	}

	.title {
		margin-bottom: 30px;
	}
 
	.price-block {
		margin-bottom: 30px;
	}
}//page-landing



.page-landing,
.landing-header {
  .btn-cta1b{ 
    font-size: 24px;
  }
}


 


.landing-header {
  position: relative;
  height: 610px;
  overflow: hidden;
  background: #222;
  &:after {
  	position: absolute;
  	content: '';
  	top: 0;
  	left: 0;
  	width: 100%;
  	height: 100%;
  	z-index: 1;
		background-color: rgba(0,0,0,0.6);
  }

  #intro-video{
	 	position: absolute;
    top: 0;
	 	background: transparent;
	}

	.ytplayer-container{
	 position: absolute;
	 top: 0;
	 z-index: -1;
	}


	.navbar{
		background-color: transparent!important;
		border-width: 0!important;

		.btn-link {
			color: #fff;
			text-decoration: underline;
			&:hover{
				color: #fff;
				text-decoration: none;
			} 
		}
		
		.navbar-header { 
		  @media (min-width: 768px) { 
				padding-left: 20px;
		  } 
		}
	}
}//.landing-header

.landing-header__content,
.landing-header .navbar,
.landing-header__hero {
	position: relative;
  z-index: 10;
}
.landing-header__hero {
	display: flex; 
  position: relative;
  z-index: 10;
  top: 200px;
  width: 100%;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
  text-align: center; 
	 
  h1 { 
  	position: relative;
  	z-index: 10;
  	margin-bottom: 30px;
	} 
  .btn {
  	box-shadow: 0px 0px 205px 57px rgba(255,255,255,1);
  }
}



.landing-header__hero,
.landing-header__footnotes {
  padding: 20px;
}


.landing-header__footnotes {
  position: relative;
  z-index: 20;
  top: 350px;
  max-width: 500px;
  text-align: center; 
  font-size: 12px;
  line-height: 13px;
  color: #fff;
  margin: 0 auto;
}


.landing-header__content{
	$thmb-width: 175px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	width: calc(100% + $thmb-width);
	background-color: #000;
	overflow: hidden;
	z-index: 1;
	// border: 1px solid red;
  // margin: 150px auto 0 auto; 
  // padding: 0 20px; 
  // text-align: center; 
  .video-item__img{
  	float: left;
  	opacity: 0.8;
  }
	$max-width: ($thmb-width * 4);
  @media (min-width: $max-width + 1px){
		width: $max-width;
		left: 50%;
		margin-left: -($max-width/2);
  }
}



