.page-landing {
	border: 10px solid red;

	.section {
		margin-top: 50px;
		margin-bottom: 50px;
	}

	.txt-presentation3 {
	  display: -webkit-flex;
	  display: -moz-flex;
	  display: -ms-flex;
	  display: -o-flex;
	  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
	  > li {
	  	max-width: 350px;
	  	margin-left: 30px;
    	margin-right: 30px;
	  }
	}
}