.page-landing {
	// border: 10px solid red;

	.section {
		$size: 90px;
		position: relative;
		padding-top: $size;
		padding-bottom: $size;
	}

	.txt-presentation3 {
	  display: -webkit-flex;
	  display: -moz-flex;
	  display: -ms-flex;
	  display: -o-flex;
	  display: flex;
	  -webkit-justify-content: center;
	  -moz-justify-content: center;
	  -ms-justify-content: center;
	  -o-justify-content: center;
	  justify-content: center;
	  > li {
	  	max-width: 350px;
	  	margin-left: 30px;
    	margin-right: 30px;
	  }
	  .icon{
	    // font-size: 70px;
	    color: #eb2f3b;
	    line-height: 90px;
	  }
	}

	p {
		line-height: 24px;
	}

	.title {
		margin-bottom: 30px;
		span {
			display: block;
		}
		.txt {
			line-height: 35px;
    	margin-bottom: 10px;
		}
		.icon {
			font-size: 50px;
		}
	}

	.bg1 {
		background: #333;
		.title {
			color: #ccc;
		}
	}

	.price-block {
		margin-bottom: 30px;
	}



}//page-landing



.page-landing,
.landing-header {
	.btn-down {
		position: absolute;
	  bottom: 20px;
	  left: 50%;
	  margin-left: -50px;
	  z-index: 10;
	}
}






.landing-header {
  position: relative;
  height: 610px;
  overflow: hidden;
  &:after {
  	position: absolute;
  	content: '';
  	top: 0;
  	left: 0;
  	width: 100%;
  	height: 100%;
  	z-index: 1;
		background-color: rgba(0,0,0,0.6);
  }
  
  .btn-cta1b{ 
    font-size: 24px;
  }

  #intro-video{
	 	position: absolute;
    top: 0;
	 	background: transparent;
	}

	.ytplayer-container{
	 position: absolute;
	 top: 0;
	 z-index: -1;
	}


	.main-header{
		background-color: transparent!important;
		.frame-logo {
			margin-left: 0; 
	    padding-left: 15px;  
	    padding-top: 20px;
	    padding-bottom: 20px;  
		}
		.frame-useraccount {
			margin-left: auto;
			width: initial;
			a {
				color: #fff;
			}
		}
	}
}//.landing-header

.landing-header__content,
.main-header {
	position: relative;
  z-index: 10;
}



