

body {
  background-image: url(/r/img/bg-reg3.png)!important;
  background-repeat: repeat-x!important;
  // background-size: cover!important;
  background-position: -200px top!important;
}





.page-auth,
.video-item{ 
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  background-color: #fff;
}


.page-auth,
.page-tersm-and-privacy {  
  input[type="password"],
  input[type="email"] {
  	height: 45px;
  }
}



.page-auth,
.page-tersm-and-privacy {
	margin-top: 50px;
}




.page-myaccount,
.page-search,
.page-404  {
	h1 {
		margin-bottom: 30px;
		> .badge {
			margin-right: 10px;
		}
	}
	h2 {
	 	font-size: 24px;
	}
}


.page-tersm-and-privacy,
.page-packages,
.page-about{ 
	header {
		max-width: 500px; 
		margin-bottom: 30px;  
		h1 {
			margin-bottom: 10px;
		}
		p {
			margin-bottom: 0; 
		}
	}
}






.page-auth{
  h1, p {
  	margin-bottom: 30px;
  }
}


.page-auth {
	margin-left: auto;
	margin-right: auto;
  max-width: 500px; 
  padding: 40px 20px; 
}

 

.fixed-info {
	a {
		color: #666;
		&:hover{
			color: $color-darkred;
		}
	}
	li {
		position: relative;
		margin-bottom: 20px;
		padding-left: 20px;
		color: $color-darkred;
		&.active {
			&:after {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 5px;
				height: 100%;
				background: $color-darkred;
			}
		}
	}
	// position: fixed;
 //  top: 140px;
 //  left: 20px;
}

.contact-text {
	color: #666;
	a {
		color: #666;
	}
}




.link-yellow-green-hover { 
  a{ 
    &:hover{
      color: $color-yellow-green;
      text-decoration: underline;
    }
  } 
}




.link-red-on { 
  a, button, .btn{ 
  	color: $color-darkred!important;
    &:hover{
      text-decoration: underline;
    }
  } 
}



//Common footer margin
.page-auth,
.page-myaccount,
.page-packages,
.page-about,
.page-contact,
.page-tersm-and-privacy{
	margin-bottom: 40px;
}
 