
.page-auth,
.video-item{ 
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  background-color: #fff;
}



.page-auth,
.page-tersm-and-privacy {
	margin-top: 50px;
}
.page-auth {
	margin-left: auto;
	margin-right: auto;
  max-width: 500px; 
  padding: 40px 20px; 
}


.fixed-info {
	$color-active: #4285f4;
	a {
		color: #666;
		&:hover{
			color: $color-active;
		}
	}
	li {
		position: relative;
		margin-bottom: 20px;
		padding-left: 20px;
		color: $color-active;
		&.active {
			&:after {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 5px;
				height: 100%;
				background: $color-active;
			}
		}
	}
	// position: fixed;
 //  top: 140px;
 //  left: 20px;
}