
.page-packages,
.page-myaccount {
	h1 {
		margin-bottom: 30px;
		> .badge {
			margin-right: 10px;
		}
	}
	h2 {
	 	font-size: 24px;
	}
}

.page-packages { 

	hr {
		margin-top: 70px;
    margin-bottom: 70px;
	}
	.section-payment {
		h2 {
			margin-bottom: 10px;
		}
	}

	@media (max-width: 767px){
		padding-left: 20px;
		padding-right: 20px;
		.section-payment,
		.section-packages {
			margin: 0 auto;
			max-width: 600px; 
		}
	}

	.price-item {
		.btn-block {
			margin-top: 10px;
			margin-left: 20px;
	    margin-right: 20px;
	    width: calc(100% - 40px);
		}
	}

	.panel-heading{
		padding: 0;
		a{
			padding: 20px;
			font-weight: bold;
		}
	}

	// .section-payment {
	// 	max-width: 600px; 
	// }

	.section-submit {
		margin-top: 30px;
    margin-bottom: 0;
	}

	// .btn-submit {
	// 	max-width: 300px;
	// }
}


.page-packages {
	.GP-menu {
		.play-menu {
			> li:last-child {
				a {
					background-color: #f83647;
					span { color: #fff; }
				}
			}
		}
	}
}




.section-payment { 
	.card-samples {
		position: absolute;
    top: 28px;
    right: 4px; 
    z-index: 10;
    width: 170px;
		.card-image {
	    float: right;
	    position: relative;
	    top: 1px;
	  }
	  .card-image-Visa-disabled {
	    background-image: url(https://static.zuora.com/Resources/842254/Images/card-logos-3.png);
	    background-position: 0 -902px;
	    width: 60px;
	    height: 32px;
	    margin: 2px;
		}
		.card-image-MasterCard-disabled {
	    background-image: url(https://static.zuora.com/Resources/842254/Images/card-logos-3.png);
	    background-position: 0 -738px;
	    width: 52px;
	    height: 32px;
	    margin: 2px;
		}
	}//card-samples
}







