.page-video-single {
	.hero {
		padding-top: 30px;
	}
	.title {
		margin-bottom: 20px;
	}
	.iframe-video {
		height: 380px;
	}


	.video-placeholder {
		position: relative;
		//background ...
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.12+0,0.65+100 */
		background: -moz-linear-gradient(top,  rgba(0,0,0,0.12) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top,  rgba(0,0,0,0.12) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom,  rgba(0,0,0,0.12) 0%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
		//background ...

		min-height: 350px;
		display: flex;
		align-items: center;
    justify-content: center;
    text-align: center;

		@media (max-width: 981px){
			flex-direction: column;
			.video-placeholder--title{
				margin-left: 0!important;
			}
		}

    .video-placeholder--title{
    	margin-left: 10px;
    	line-height: 50px;
    	font-size: 23px; 

    	span{
    		display: block;
    	}
    	a{
    		font-weight: bold;
    		font-size: 23px;
    	}
    }
	}//video-placeholder 





	.video-info-main {
		display: flex;
		position: relative;
		    font-size: 14px;
		.info-left, .info-right {
			flex: 1;
		}
		.info-right {
			text-align: right;
		}
		.list-tags {
			color: $color-darkred;
		}
		.list-date-duration {
			li {
				&:first-child {
					margin-right: 25px;
				}
			}
		}
	}

	.title-reviews{
		margin-top: 0;
	}

	.txt-xxl{
		.icon {
			&:hover {
				color: $color-darkred;
			}
		}
	}

	.fb-share-button {
		margin-right: 10px;
		button[type="submit"]{
			height: 34px!important;
		}
	}

	#btn-comment-rate-modal {
		background-color: $color-yellow-green;
		color: #fff;
		border: 1px solid $color-yellow-green;
		&:hover {
			color: $color-yellow-green;
			background-color: #fff;
		}
	}

	#video-controls {
		margin-top: 15px;
	}
	#active-episode-title{
		    padding-top: 5px;
		color: $color-darkred;
	}


}