.page-video-single {
	.hero {
		padding-top: 30px;
	}
	.title {
		margin-bottom: 20px;
	}
	.iframe-video {
		height: 380px;
	}

	.video-info-main {
		display: flex;
		position: relative;
		.info-left, .info-right {
			flex: 1;
		}
		.info-right {
			text-align: right;
		}
	}

	.fb-share-button {
		margin-right: 10px;
		input[type="submit"]{
			    height: 34px;
		}
	}
}