
.page-video-landing {
	.hero, .block-wrap {
		margin-bottom: 35px;
	}

	h2 {
		margin-bottom: 10px;
	}

	.hero {
		position: relative;  
		.fast-links {
			position: absolute;
			bottom: 15px;
			left: 15px; 
		}
		.btn {
			min-width: 150px;
		}
	}

	.block-wrap{ 
	  overflow-x: hidden;
	}
}