
//Apply "clearfix" class from bootstrap
.container-fluid,
.list-horizontal-wrapper,
.block-wrap, 
.card-samples,
.hero-sub,
.dummy-column {
	&:before, &:after {
	  display: table;
	  content: " ";
	  clear: both;
	}
}