




/**
 * Global variables
 * --------------------------------------
*/
$color-h: #424242;
$width-GP-menu: 200px;
$gap1: 20px;
$gap1-2: 25px;
$gap2: 30px;
$gap3: 40px;
$color-primary: #eeb33d;
$color-darkred: #990033;
$color-yellow-green : #798801;







	.list-decimal {
			color: #000;
		list-style: decimal;
    li {
    	list-style: decimal;
    	margin-left: 30px;
    }
	}