

input[type="text"],
input[type="password"],
input[type="email"]{
	height: 50px;
	border-radius: 3px;
	background-color: rgba(255, 255, 255, 0.1);
}

 


//  .email {
// 	width: 37px;
// 	height: 14px;
// 	opacity: 0.7;
// 	font-family: HelveticaNeue;
// 	font-size: 14px;
// 	line-height: 1.0;
// 	letter-spacing: 0.5px;
// 	color: #ffffff;
// }