

.video-modal{
	.modal-content {
		border-radius: 0;
	}
	.modal-body{
		padding:0;
	}
	.videoModalDesc{
		padding: 15px;
	}
	.modal-title{
		text-transform: capitalize;
		margin-bottom: 5px;
	}
	.close:hover{
		color: $color-primary!important;
	}
	.meta-list1{
		margin-bottom: 0;
		color: #888;
	}
	.btn-primary{
		border-width: 0;
	}
	.modal-header{
		border-bottom: 0px solid!important;
	}
	.modal-footer{
		border-top: 0px solid!important;
	}
	.videoModalImg{
		border-top: 1px solid #999;
    border-bottom: 1px solid #999;
	}
}