body {
  font-family: HelveticaNeue;
  background-color: #fff; }

.main-footer {
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 14px;
  background-color: #282250;
  color: #ffffff;
  opacity: 0.7; }
  .main-footer a {
    color: #ffffff;
    opacity: 0.7; }

input[type="text"],
input[type="password"],
input[type="email"] {
  height: 50px;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.1); }

.auth-rectangle {
  padding: 30px;
  width: 360px;
  height: 425px;
  border-radius: 2px;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  background-color: rgba(0, 0, 0, 0.3); }

.frame-login-registration {
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
