body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  background-color: #fff;
  line-height: 1.0;
  letter-spacing: 0.5px; }

.main-footer {
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 14px;
  background-color: #282250;
  color: #ffffff;
  opacity: 0.7; }
  .main-footer a {
    color: #ffffff;
    opacity: 0.7; }

input[type="text"],
input[type="password"],
input[type="email"],
input[type="checkbox"],
button[type="submit"] {
  border-radius: 3px; }

input[type="text"],
input[type="password"],
input[type="email"],
button[type="submit"] {
  height: 50px; }

input[type="text"],
input[type="password"],
input[type="email"] {
  background-color: rgba(255, 255, 255, 0.1); }

.auth-rectangle {
  position: relative;
  padding: 30px;
  width: 360px;
  height: 425px;
  border-radius: 2px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.3); }
  .auth-rectangle .page-title {
    margin-bottom: 30px;
    font-size: 22px;
    font-weight: 300; }
  .auth-rectangle .form-group {
    margin-bottom: 5px; }
  .auth-rectangle .form-control {
    border: 0px solid #ccc; }
  .auth-rectangle .btn-submit {
    color: #fff;
    background-color: #ec174f; }
  .auth-rectangle:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-filter: blur(20px);
            filter: blur(20px);
    z-index: -1; }

.frame-login-registration {
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
