

.input-group {
	position: relative;
	width: 100%;
}

form {
	label {
		font-weight: bold;
		font-weight: bold;
	}
	.row {
		margin-bottom: 15px;
	}
}


form.xl-inputs {
	input, select {
		height: 45px;
	}
}


$color-input-placeholder: #ccc;
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $color-input-placeholder;
  line-height: 13px;
  font-style: italic;
}
::-moz-placeholder { /* Firefox 19+ */
  color: $color-input-placeholder;
  line-height: 13px;
  font-style: italic;
}
:-ms-input-placeholder { /* IE 10+ */
  color: $color-input-placeholder;
  line-height: 13px;
  font-style: italic;
}
:-moz-placeholder { /* Firefox 18- */
  color: $color-input-placeholder;
  line-height: 13px;
  font-style: italic;
}