

.input-group {
	position: relative;
	width: 100%;
}

form {
	label {
		font-weight: bold;
		font-weight: bold;
	}
	.row {
		margin-bottom: 15px;
	}
}


form.xl-inputs {
	input, select {
		height: 45px;
	}
}