
.main-footer {
	margin-top: 150px;
	font-size: 13px;
	color: #616161;

	h4{
	  color: #424242;
	  font-size: 18px;
	  font-weight: 500;
	  line-height: 18px;
	  margin: 0 0 15px 0;
	}//h4
	ul{
	  li{
	    margin: 0 0 4px 0;
	    a{
	      color: #757575;
	      font-weight: 400;
	      line-height: 14px;
	      &:hover{
	        color: $color-yellow-green;
	        text-decoration: underline;
	      }
	    }
	  }
	}//ul

	.footer-main {
		padding-top: 34px;
		padding-bottom: 34px;
		background-color: #ddd;
	}


	.copyright{
	  background-color: #bbb;
	  font-weight: 500; 
	  line-height: 35px;
	}

}//main-footer