

// .main-header{
//   height: 60px;
//   background-color: #eeeeee;
//   margin: 0 0 30px 0;
//   .row {
//   	display: -webkit-flex;
// display: -moz-flex;
// display: -ms-flex;
// display: -o-flex;
// display: flex;
// -webkit-align-items: center;
// -moz-align-items: center;
// -ms-align-items: center;
// -o-align-items: center;
// align-items: center;
//   }
//   .frame-logo,
//   .frame-search,
//   .frame-useraccount {
//     float: left;
//   }
//   .frame-logo { 
//     width: 200px;
//     padding-left: 20px;
//     margin-left: 15px; 
// 	  line-height: 0;  
//     padding-top: 10px;
//     padding-bottom: 10px;  
// 	  img{
// 	    width: 150px;
// 	    height: auto; 
// 		}
//   }
//   .frame-search { 
//     margin-left: 30px; 
//     width: calc(75% - 230px);
//   }
//   .frame-useraccount { 
//   	width: calc(25% - 30px);
//   }
// }





.ukb-main-header { 
  .navbar-brand { 
    width: 200px;
    padding-left: 20px;
    margin-left: 15px; 
	  line-height: 0;  
    padding-top: 10px;
    padding-bottom: 10px;  
	  img{
	    width: 150px;
	    height: auto; 
		}
  }

  .nav-user-access {
  	display: flex;
  	// border: 2px solid red; 
  	font-size: 12px;
    line-height: 17px;
    align-items: center;
  	span {
  		display: block;
  		// border: 1px solid green;
  	}
  	.caret {
  		display: inline-block!important;
  		color: #000;
  	}
  }

	.nav-user-tmb {
		margin-left: 10px;
		img {
			height: 40px;
	    width: 40px;
	    border-radius: 50%;
		}
	}
  #link-update-package {
  	cursor: pointer;
  	text-decoration: underline;
  	&:hover{
  		text-decoration: none; 
  	}
  }
  .ukb-nav-videos {
  	display: none;
  }
  .frame-search {
  	form { 
		  @media (min-width: 768px) and (max-width: 885px){ 
  			width: 53%;
		  }
		  @media (min-width: 886px) and (max-width: 1149px){ 
  			width: 60%;
		  }
		  @media (min-width: 1150px) { 
  			width: 70%;
		  }
  		.input-group-btn {
  			width: 70px;
  			.btn {
  				width: 100%;
  			}
  		}
  	}
  }


  @media (max-width: 767px) { 
  	.navbar-collapse { 
  		margin-top: 10px;
  	}
  	.ukb-nav-videos {
  		display: block;
  		padding-left: 20px;
  	}
		.nav-user-access{
			display: block;
			margin-left: 30px;
			.nav-package-info {
				float: left;
			}
			.dropdown-menu > li > a {
				padding-left: 0;
			}
		}
		.frame-search{
			form {
				padding-left: 30px;
			}
		}
  }

  @media (min-width: 768px) {
	  .navbar-brand {
	  	margin-left: 0!important;
	  }
  }
}//.ukb-main-header


.GP-menu { 
  @media (max-width: 767px) { 
		display: none;
  }
}





.navbar-default .navbar-collapse, .navbar-default .navbar-form { 
    border-color: #ccc;
}
