
.ukb-main-header { 

  .nav-user-access {
  	position: relative;
  	display: flex;
  	// border: 2px solid red; 
  	font-size: 12px;
    line-height: 17px;
    align-items: center;
  	span {
  		display: block;
  		// border: 1px solid green;
  	}
  	.caret {
  		display: inline-block!important;
  		color: #000;
  		position: absolute;
	    top: 15px;
	    right: -5px;
  	}
  }


  .container-fluid {
  	padding-left: 20px;
  	padding-right: 20px;
  }

	@media (min-width: 768px) {
		.navbar-right {
	  	margin-top: 7px;
	  }
	  .container-fluid {
	  	padding-left: 50px;
    	padding-right: 50px;
	  }
	}
  

	.nav-user-tmb {
		margin-left: 5px;
		margin-right: 10px;
		.user-tmb {
			font-size: 30px; 
			color: #666;
		}
	}
  #link-update-package {
  	cursor: pointer;
  	text-decoration: underline;
  	&:hover{
  		text-decoration: none; 
  	}
  }
  .ukb-nav-videos {
  	a {
  		font-weight: bold;
  	}
  }
  .frame-search {
  	form { 
		  @media (min-width: 768px) and (max-width: 885px){ 
  			width: 53%;
		  }
		  @media (min-width: 886px) and (max-width: 1149px){ 
  			width: 60%;
		  }
		  @media (min-width: 1150px) { 
  			width: 70%;
		  }
  		.input-group-btn {
  			width: 70px;
  			.btn {
  				width: 100%;
  			}
  		}
  	}
  }


  @media (max-width: 767px) { 
  	.navbar-collapse { 
  		margin-top: 10px;
  	}
  	.ukb-nav-videos {
  		display: block;
  		padding-left: 20px;
  	}
		.nav-user-access{
			display: block;
			margin-left: 30px;
			.nav-package-info {
				float: left;
			}
			.dropdown-menu > li > a {
				padding-left: 0;
			}
		}
		.frame-search{
			form {
				padding-left: 30px;
			}
		}
  }

  @media (min-width: 768px) {
	  .navbar-brand {
	  	margin-left: 0!important;
	  }
  }

  .navbar-default {
  	background: rgba(248, 248, 248, 0.7)!important;
  	.navbar-nav>li>a {
			color: #000;
  	}
  }
}//.ukb-main-header

 


.ukb-navbar-brand { 
  width: 200px;
  padding-left: 0px;
  margin-left: 15px; 
  line-height: 0;  
  padding-top: 10px;
  padding-bottom: 10px;  
  img{
    width: 150px;
    height: auto; 
	}
}





.navbar-default .navbar-collapse, .navbar-default .navbar-form {  
  border-color: #ccc;
}




.ukb-main-header + main {
	margin-top: 70px;
}