








/**
 * Global layout styling
 * --------------------------------------
*/ 
$tmb-unit: 185px;
$sidebar-gap: 230px;

//Fixing layout on certain pages
.page-video-landing {
	.global-display {
		min-width: $sidebar-gap + ($tmb-unit * 2);
	}
}

.global-display{
	// border: 2px solid red; 
	@media (min-width: 768px){
		padding-left: $sidebar-gap; 
	}

	.global-content {
		// border: 2px solid green;
		@media (min-width: 795px){
			width: $tmb-unit * 3; //3 thumbnails in a row
		}
		@media (min-width: 982px){
			width: $tmb-unit * 4; //4 thumbnails in a row
		}
		@media (min-width: 1170px){
			width: $tmb-unit * 5; //5 thumbnails in a row
		}
	}//global-content
}


.GP-menu {
	position: fixed;
	left: 0;
}
    
    



// .container-fluid {
// 	padding-left: 0; 
// }




// .layout-3-columns {
// 	min-width: 750px;
// 	$width-aside: 300px;
// 	.global-display { 
// 	  width: calc(82% - #{$width-aside}); 
// 	}
// 	.block-aside {
// 		margin-left: 30px;
// 		float: right;
// 		width: $width-aside - (30px + 10px);
// 		.list-horizontal-wrapper {
// 			width: 100%;
// 		}
// 	}
// 	#GP-menu-sticky-wrapper.is-sticky + .global-display{
// 		margin-left: $width-GP-menu + $gap2;  
// 	}


// 	@media (max-width: 1240px) { 
// 		.global-display,
// 		.block-aside {
// 			margin-left: 0;
// 		  width: calc(100% - 230px);
//     	float: right;
//     	min-width: 500px;
// 		}
// 		.block-aside{
// 			margin-top: 30px;
// 		}
// 	}
// }





// #GP-menu-sticky-wrapper.is-sticky + .global-display{
// 	margin-left: $width-GP-menu + $gap2;  
// }





