








/**
 * Global layout styling
 * --------------------------------------
*/ 
$tmb-unit: 185px;
$sidebar-gap: 230px;

//Fixing layout on certain pages
.page-video-landing {
	.global-display {
		min-width: $sidebar-gap + ($tmb-unit * 2);
	}
}

.global-display{
	// border: 2px solid red; 
	@media (min-width: 768px){
		padding-left: $sidebar-gap; 
	}

	.global-content {
		// border: 2px solid green;
		@media (min-width: 795px){
			width: $tmb-unit * 3; //3 thumbnails in a row
		}
		@media (min-width: 982px){
			width: $tmb-unit * 4; //4 thumbnails in a row
		}
		@media (min-width: 1170px){
			width: $tmb-unit * 5; //5 thumbnails in a row
		}
	}//global-content
}


.GP-menu {
	position: fixed;
	left: 0;
	width: 200px;
	z-index: 99;
}
    
    

