
 

.auth-rectangle {
	margin: 0 auto;
	max-width: 360px;
	height: 425px;
	border-radius: 2px;
	-webkit-backdrop-filter: blur(20px);
	backdrop-filter: blur(20px);
	background-color: rgba(0, 0, 0, 0.3);
}