/*Hide homevideo navigation here*/
.page-singlevideo {
	.main-nav-homevideo{
		display : none;
	}
	
	.main-nav-singlevideo{
		position: fixed;
	}
	/*Removing "bitmovin" watermark logo from player*/
	.bmpui-ui-watermark {
	  display: none;
	} 
	#player {
	}
	.col-comment {
		margin-top: 40px;
	}
	.col-share {
		margin-top: 48px;
	}
}
 

