




.page-videos {
	.main-nav {
		position: fixed;
    z-index: 99;
    width: 100%;
	}//main-nav

	.carousel,
	.video-container {
		margin-bottom: 50px;
	}
}


.video-content {
	.thumbnail {
		cursor: pointer;
		max-width: 500px;
		padding: 0;
		background-color: #292734;
		border-width: 0px;
		.caption{
			padding: 20px;
		}
		.fa{
			$fa-width: 80px;
			position: absolute;
		  font-size: $fa-width;
		  left: 50%;
		  margin-left: -#{$fa-width/2};
		  top: 23%;
		}
	}
	.thumbnail-title, 
	.thumbnail-info1 {
		font-family: 'Roboto', sans-serif;
		color: #ffffff; 
	}
	.thumbnail-info2 {
		opacity: 0.8;
		transform: scale(0,0);
	}
	.thumbnail-title { 
		margin-top: 0;
		margin-bottom: 5px;
		font-size: 16px;
		font-weight: 500; 
	}
	.thumbnail-info1 {  
		opacity: 0.5; 
		font-size: 14px; 
	}
	.ib {
		display: inline-block;
	}
}