

.page-videos {
	.main-nav {
		position: fixed;
    z-index: 99;
    width: 100%;
	}//main-nav

	.carousel,
	.video-container {
		margin-bottom: 50px;
	}
}


.video-content {
	.thumbnail {
		padding: 0;
		background-color: #292734;
		border-width: 0px;
	}
	.thumbnail-title, 
	.thumbnail-info1 {
		font-family: 'Roboto', sans-serif;
		color: #ffffff; 
	}
	.thumbnail-title { 
		font-size: 16px;
		font-weight: 500; 
	}
	.thumbnail-info1 {  
		opacity: 0.5; 
		font-size: 14px; 
	}
	.ib {
		display: inline-block;
	}
}