
body{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	background-color: #fff;  
	line-height: 1.0;
	letter-spacing: 0.5px; 
	background-color: $color-secondary;

	//Crisp text
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


 