
body{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	background-color: #fff;  
	line-height: 1.0;
	letter-spacing: 0.5px; 

	//Crisp text
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	//...
	overflow-x: hidden;
	
	//Dark theme for non legal pages
	&:not(.page-legal){
		background-color: #110f1c; //$color-secondary;
	}
}



body.page-legal {
	background-color: #f3f3f3;
	.main-content{
		margin-bottom: 40px;
	}
}


 