

.main-footer { 
	$size: 40px;
	padding-top: $size;
	padding-bottom: $size;
	font-size: 14px;
	color: #ffffff;
	line-height: 2em;
	background-color: $color-secondary;
	p, a, li {
		color: #ffffff;
		opacity: 0.9;
	}
}


