
a{
  transition: all 0.5s ease;
}

.main-content .rectangle,
.main-nav__additional-links{
	a {
		color: #fff;
		opacity: 1;
		&:hover { 
			opacity: 0.4;
		}
	}
}

a.underlined {
	text-decoration: underline;
	&:hover{
		text-decoration: none;
	}
}


.main-footer a {
	&:hover{
		opacity: 1;
		cursor: pointer;
	}
}